pymupdf
paddlepaddle==2.6.2
paddleocr==2.8.1
pytesseract
underthesea
sentence-transformers
google-generativeai
python-dotenv
pyyaml
tqdm
Pillow
pdf2image
paddleocr
vietocr
opencv-python
realesrgan
torch
requests
pdfplumber
PyMuPDF
python-dotenv
